@using TelefonRehberi.Controllers
@model List<Rehber>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Firma</th>
    </tr>
    @foreach(var r in Model)
            {
                <tr>
                    <td>@r.Ad</td>
                    <td>@r.Soyad</td>
                    <td>@r.Firma</td>
                </tr>
            }
</table>

