@using WebApplication1.Controllers
@model List<Rehber>
@{
    ViewData["Title"] = "Index";
}
<table class="table table-bordered">
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Firma</th>
        <th>iletisim bilgileri</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach(var r in Model)
            {
                <tr>
                    <td>@r.Ad</td>
                    <td>@r.Soyad</td>
                    <td>@r.Firma</td>
                    <td><a href="/Telefon/GetIdIletisimIndex/@r.UUID" class="btn btn-outline-success">Iletisim</a></td>
                    <td><a href="/Telefon/DeleteRehber/@r.UUID" class="btn btn-outline-danger">Sil</a></td>
                    <td><a href="/Telefon/EditRehber/@r.UUID" class="btn btn-outline-warning">Guncelle</a></td>
                </tr>
            }
</table>

<a href="/Telefon/AddRehber" class="btn btn-outline-primary">Yeni kisi ekle</a>
<a href="/Telefon/RaporIndex" class="btn btn-outline-primary">Rapor Sayfasi</a>